* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(229, 208, 244);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

header .logo {
  font-size: 22px;
  font-weight: bolder;
}

.links > a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

/* SECTION ONE */
.main-container {
  display: flex;
  justify-content: center;
}

.container {
  background-image: url(images/skinCare.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10%;
  border-radius: 15px;
  margin-bottom: 80px;
}

.container h1 {
  text-align: center;
}

.container p {
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.container button {
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: 500;
  border: 4px solid rgb(229, 208, 244);
}

/* SECTION 2*/
.main-container_2 {
  background-color: rgb(236, 233, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5% 10%;
}

.containerInside h1 {
  font-weight: 500;
  padding: 30px;
}

.containerInside p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 2rem;
  padding: 30px;
}

@media (max-width: 780px) {
  .containerInside p {
    font-size: 12px;
    line-height: 1.2rem;
  }
}

.containerInside button {
  padding: 15px 30px;
  margin-left: 30px;
  border: 2px solid grey;
  font-weight: 700;
}

/* SHOP-SECTION */

.shop h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 30px;
  text-transform: uppercase;
}

.shop .shop-products {
  display: flex;
  justify-content: center;
  column-gap: 10%;
  padding: 40px 0;
  margin-bottom: 60px;
}

.shop-products .product {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 10%;
}

footer {
  text-align: center;
}
